/* -------------------- */
/* -- CSS Animations -- */
/* -------------------- */

/* fadeIn */
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
[animation="fadeIn"] { opacity: 0; animation: fadeIn 1.2s ease forwards; }

/* slideIn */
@keyframes slideIn { from { opacity: 0; transform: translateY(80px); } to { opacity: 1; transform: translateY(0); } }
[animation="slideIn"] { opacity: 0; animation: slideIn 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; }

/* marquee */
@keyframes marquee { from { transform: translateX(0%); } to { transform: translateX(-100%); } }
@keyframes marquee200p { from { transform: translateX(0%); } to { transform: translateX(-200%); } }
[animation="marquee"] { animation: marquee 20s linear infinite; }
[animation="marquee200p"] { animation: marquee200p 20s linear infinite; }

/* spin */
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
[animation="spin"] { animation: spin 1s linear infinite; }

/* ping */
@keyframes ping { 75%, 100% { transform: scale(2); opacity: 0; } }
[animation="ping"] { animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite; }

/* bounce */
@keyframes bounce { 0%, 100% { transform: translateY(-25%); animation-timing-function: cubic-bezier(0.8, 0, 1, 1); } 50% { transform: translateY(0); animation-timing-function: cubic-bezier(0, 0, 0.2, 1); } }
[animation="bounce"] { animation: bounce 1s infinite; }

/* pulse */
@keyframes pulse { 0%, 100% { opacity: 1; } 50% { opacity: .5; } }
[animation="pulse"] { animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; }

/* pulse-bg */
@keyframes pulse-bg { 0%, 100% { background-color: var(--bg-s, #aaa); } 50% { background-color: var(--bg-e, #ddd); } }
[animation^="pulse-bg"] { animation: pulse-bg 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; }
[animation="pulse-bg"] { --bg-s: var(--colors--brand); --bg-e: var(--colors--brand-light); }

/* controls */
[animation-play="pause"] { animation-play-state: paused !important; }
[animation-play="run"] { animation-play-state: running !important; }
[animation="none"] { animation: none; }
