/* -------------------- */
/* -- Mode Switching -- */
/* -------------------- */

/* ui elements for mode switching */
.body.u-light-mode .toggle {}
.body.u-dark-mode .toggle { justify-content: flex-end; }
.body.u-light-mode .mode-switch > [data-button="color-mode-light"] { background-color: #ffffff80; }
.body.u-dark-mode .mode-switch > [data-button="color-mode-dark"] { background-color: #00000060; }
.body.u-dark-mode .mode-switch > .mode-switch_button:not([data-button="color-mode-dark"]):hover {
	background-color: #bbb;
	color: #ddd;
}
