/* ----------------------- */
/* -- Mode Switching UI -- */
/* ----------------------- */

[theme="light"] .toggle {}
[theme="dark"] .toggle {
	justify-content: flex-end;
	background-color: var(--palette-neutral--800);
	color: var(--plaette-neutral-300);
}

[theme="light"] .mode-switch > [data-button="color-mode-light"] { background-color: #ffffff80; }
[theme="dark"] .mode-switch > [data-button="color-mode-dark"] { background-color: #00000060; }
[theme="dark"] .mode-switch > .mode-switch_button:not([data-button="color-mode-dark"]):hover {
	background-color: #bbb;
	color: #ddd;
}
