/* -------------------------- */
/* -- Global Custom Styles -- */
/* -------------------------- */

/* html and body */
html:not(.wf-design-mode) ::selection { background: var(--colors--primary); color: #fff; }
body * { text-decoration-thickness: clamp(0.75px, 0.075em, 0.25rem); }

/* main-nav_button */
.main-nav_button path { transition: transform 300ms ease; transform-origin: center; }
.main-nav_button path { transform: translateY(-8%) rotate(-45deg); }
.main-nav_button path:last-child { transform: translateY(11%) rotate(45deg); }
.main-nav_button.w--open path { transform: translateY(0%) rotate(0deg); }

/* better sup and sub on headings */
h1 sup, .h1 sup, h1 sub, .h1 sup,
h2 sup, .h2 sup, h2 sub, .h2 sup,
h3 sup, .h3 sup, h3 sub, .h3 sup { margin: 0 -0.275ch; }

/* better modal */
dialog.modal[open] { animation: fadeIn 480ms ease-out forwards; }
dialog.modal::backdrop {
	background: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
@supports (-webkit-touch-callout: none) {
	button:focus, button:focus-visible { outline: none !important; box-shadow: none !important; }
}
.modal.cc-open { display: block; position: fixed; inset: 0; }

/* other styles */
.richtext-list ul li::before {
	position: absolute;
	margin-left: -1.65em;
	content: '\2713\0020';
	color: var(--colors--primary);
}
.breadcrumb-item a.w--current {
	opacity: 0.6;
	cursor: default;
	pointer-events: none;
}

/* styles for RTL lauout */
[dir="rtl"] .main-nav_menu { margin-left: 0rem !important; margin-right: auto; }
