/* ------------------------------ */
/* -- Global Custom Attributes -- */
/* ------------------------------ */

/* gradient */
[gradient="1"] { background-image: linear-gradient(135deg, #3E6CFF 0%, #CD3EFF 50%, #FF3EA6 100%); }
[gradient="2"] { background-image: linear-gradient(135deg, #FF9B3E 0%, #FF3E3E 50%, #FF3EC9 100%); }
[gradient="3"] { background-image: linear-gradient(135deg, rgba(0,24,60,1) 0%, rgba(60,110,238,1) 100%); }

/* shadow */
[shadow="xs"] { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); }
[shadow="sm"] { box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.08); }
[shadow="lg"] { box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.18), 0 4px 8px -2px rgba(0, 0, 0, 0.06); }
[shadow="xl"] { box-shadow: 0 14px 24px -4px rgba(0, 0, 0, 0.18), 0 8px 12px -4px rgba(0, 0, 0, 0.1); }

/* pulse-bg animation */
[animation="pulse-bg-1"] { --bg-s: var(--colors--accent); --bg-e: var(--colors--secondary); }
[animation="pulse-bg-2"] { --bg-s: #FFB6B6; --bg-e: #FFF0F0; }
[animation="pulse-bg-3"] { --bg-s: #666; --bg-e: #ccc; }

/* list-type */
[list-type="disc"] { list-style-type: disc !important; }
[list-type="decimal"] { list-style-type: decimal !important; }
[list-type="la"] { list-style-type: lower-alpha !important; }
[list-type="ua"] { list-style-type: upper-alpha !important; }

/* list-icon */
/* css entities: https://www.w3schools.com/cssref/css_entities.php */
[list-icon="spark"] li::before { content: '\2726\0020' !important; color: var(--colors--primary) !important; }
[list-icon="star"] li::before { content: '\2605\0020' !important; color: var(--colors--accent) !important; }
[list-icon="asterisk"] li::before { content: '\2731\0020' !important; color: var(--colors--secondary) !important; }
