/* -------------------------- */
/* -- Global Custom Styles -- */
/* -------------------------- */

/* html and body tags */
html:not(.wf-design-mode) ::selection { background: var(--colors--brand); color: #fff; }
body * { text-decoration-thickness: clamp(0.75px, 0.075em, 0.25rem); }

/* other styles */
.richtext-list ul li::before {
	position: absolute;
	margin-left: -1.65em;
	content: '\2713\0020';
	color: var(--colors--brand);
}

/* styles for RTL lauout */
[direction="rtl"] .main-nav_menu { margin-left: 0rem !important; margin-right: auto; }

/* media queries template */
/*
@media screen and (min-width: 1280px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1920px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 479px) {}
*/