/* palette table */
palette { display: block; width: 100%; text-align: center; text-decoration: none !important; }
palette [class*="u-hflex"] { width: 100%; }
palette .sg-square { width: 100%; height: auto; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; aspect-ratio: 1 / 1; padding: 0.25rem; margin-bottom: 0rem; }
palette .sg-square[size-is="lg"] { height: 7.5rem; font-weight: bold; aspect-ratio: auto; }
palette [demo="disc"] { width: 2.5rem; height: 2.5rem; padding: 0; border-radius: var(--_sizes---radius--rounded); flex-shrink: 0; }
palette [color-g] {
	position: absolute; top: auto; right: 0%; bottom: 0%; left: 0%;
	margin-bottom: -1rem;
	color: var(--colors--text-muted);
	text-align: center;
  opacity: 0.8;
}
palette [color-g="500"] {
	font-weight: bold;
	opacity: 1;
}