/* -------------------------- */
/* -- S2 Colors & Palettes -- */
/* -------------------------- */

/* -- "Colors" Variables as Attributes -- */

/* color */
[color="text"] { color: var(--colors--text); }
[color="text-mu"] { color: var(--colors--text-muted); }
[color="brand"], [color="b"] { color: var(--colors--brand); }
[color="brand-alt"], [color="ba"] { color: var(--colors--brand-alt); }
[color="accent"], [color="a"] { color: var(--colors--accent); }
[color="neutral"], [color="n"] { color: var(--_palettes---neutral--500); } /* neutral 500 */
/* background-color */
[bg="surface"] { background-color: var(--colors--surface); }
[bg="surface-mu"] { background-color: var(--colors--surface-muted); }
[bg="surface-alt"] { background-color: var(--colors--surface-alt); }
[bg="surface-alt-mu"] { background-color: var(--colors--surface-alt-muted); }
[bg="brand"], [bg="b"] { background-color: var(--colors--brand); }
[bg="brand-alt"], [bg="ba"] { background-color: var(--colors--brand-alt); }
[bg="accent"], [bg="a"] { background-color: var(--colors--accent); }
[bg="neutral"], [bg="n"] { background-color: var(--_palettes---neutral--500); } /* neutral 500 */
[bg="stroke"] { background-color: var(--colors--stroke); }
/* border-color */
[border="stroke"] { border-color: var(--colors--stroke); }
[border="brand"], [border="b"] { border-color: var(--colors--brand); }
[border="brand-alt"], [border="ba"] { border-color: var(--colors--brand-alt); }
[border="accent"], [border="a"] { border-color: var(--colors--accent); }
[border="neutral"], [border="n"] { border-color: var(--_palettes---neutral--500); } /* neutral 500 */

/* -- "Palette" Variables as Attributes -- */

/* brand */
[bg="b-50"] { background-color: var(--_palettes---brand--50); }
[bg="b-100"] { background-color: var(--_palettes---brand--100); }
[bg="b-200"] { background-color: var(--_palettes---brand--200); }
[bg="b-300"] { background-color: var(--_palettes---brand--300); }
[bg="b-400"] { background-color: var(--_palettes---brand--400); }
[bg="b-500"] { background-color: var(--_palettes---brand--500); }
[bg="b-600"] { background-color: var(--_palettes---brand--600); }
[bg="b-700"] { background-color: var(--_palettes---brand--700); }
[bg="b-800"] { background-color: var(--_palettes---brand--800); }
[bg="b-900"] { background-color: var(--_palettes---brand--900); }
[bg="b-950"] { background-color: var(--_palettes---brand--950); }
[bg="b-on-light"] { background-color: var(--_palettes---brand--on-light); }  [color="b-on-light"] { color: var(--_palettes---brand--on-light); }
[bg="b-on-base"] { background-color: var(--_palettes---brand--on-base); }  [color="b-on-base"] { color: var(--_palettes---brand--on-base); }
[bg="b-on-deep"] { background-color: var(--_palettes---brand--on-deep); }  [color="b-on-deep"] { color: var(--_palettes---brand--on-deep); }
[bg="b-subtle"] { background-color: var(--_palettes---brand--subtle); }
/* brand: light, deep */
[bg="b-light"] { background-color: var(--colors--brand-light); }
[bg="b-deep"] { background-color: var(--colors--brand-deep); }

/* brand alt */
[bg="ba-50"] { background-color: var(--_palettes---brand-alt--50); }
[bg="ba-100"] { background-color: var(--_palettes---brand-alt--100); }
[bg="ba-200"] { background-color: var(--_palettes---brand-alt--200); }
[bg="ba-300"] { background-color: var(--_palettes---brand-alt--300); }
[bg="ba-400"] { background-color: var(--_palettes---brand-alt--400); }
[bg="ba-500"] { background-color: var(--_palettes---brand-alt--500); }
[bg="ba-600"] { background-color: var(--_palettes---brand-alt--600); }
[bg="ba-700"] { background-color: var(--_palettes---brand-alt--700); }
[bg="ba-800"] { background-color: var(--_palettes---brand-alt--800); }
[bg="ba-900"] { background-color: var(--_palettes---brand-alt--900); }
[bg="ba-950"] { background-color: var(--_palettes---brand-alt--950); }
[bg="ba-on-light"] { background-color: var(--_palettes---brand-alt--on-light); }  [color="ba-on-light"] { color: var(--_palettes---brand-alt--on-light); }
[bg="ba-on-base"] { background-color: var(--_palettes---brand-alt--on-base); }  [color="ba-on-base"] { color: var(--_palettes---brand-alt--on-base); }
[bg="ba-on-deep"] { background-color: var(--_palettes---brand-alt--on-deep); }  [color="ba-on-deep"] { color: var(--_palettes---brand-alt--on-deep); }
[bg="ba-subtle"] { background-color: var(--_palettes---brand-alt--subtle); }
/* brand alt: light, deep */
[bg="ba-light"] { background-color: var(--_palettes---brand-alt--300); }
[bg="ba-deep"] { background-color: var(--_palettes---brand-alt--700); }

/* accent */
[bg="a-50"] { background-color: var(--_palettes---accent--50); }
[bg="a-100"] { background-color: var(--_palettes---accent--100); }
[bg="a-200"] { background-color: var(--_palettes---accent--200); }
[bg="a-300"] { background-color: var(--_palettes---accent--300); }
[bg="a-400"] { background-color: var(--_palettes---accent--400); }
[bg="a-500"] { background-color: var(--_palettes---accent--500); }
[bg="a-600"] { background-color: var(--_palettes---accent--600); }
[bg="a-700"] { background-color: var(--_palettes---accent--700); }
[bg="a-800"] { background-color: var(--_palettes---accent--800); }
[bg="a-900"] { background-color: var(--_palettes---accent--900); }
[bg="a-950"] { background-color: var(--_palettes---accent--950); }
[bg="a-on-light"] { background-color: var(--_palettes---accent--on-light); }  [color="a-on-light"] { color: var(--_palettes---accent--on-light); }
[bg="a-on-base"] { background-color: var(--_palettes---accent--on-base); }  [color="a-on-base"] { color: var(--_palettes---accent--on-base); }
[bg="a-on-deep"] { background-color: var(--_palettes---accent--on-deep); }  [color="a-on-deep"] { color: var(--_palettes---accent--on-deep); }
[bg="a-subtle"] { background-color: var(--_palettes---accent--subtle); }
/* accent: light, deep */
[bg="a-light"] { background-color: var(--_palettes---accent--300); }
[bg="a-deep"] { background-color: var(--_palettes---accent--700); }

/* neutral */
[bg="n-50"] { background-color: var(--_palettes---neutral--50); }
[bg="n-100"] { background-color: var(--_palettes---neutral--100); }
[bg="n-200"] { background-color: var(--_palettes---neutral--200); }
[bg="n-300"] { background-color: var(--_palettes---neutral--300); }
[bg="n-400"] { background-color: var(--_palettes---neutral--400); }
[bg="n-500"] { background-color: var(--_palettes---neutral--500); }
[bg="n-600"] { background-color: var(--_palettes---neutral--600); }
[bg="n-700"] { background-color: var(--_palettes---neutral--700); }
[bg="n-800"] { background-color: var(--_palettes---neutral--800); }
[bg="n-900"] { background-color: var(--_palettes---neutral--900); }
[bg="n-950"] { background-color: var(--_palettes---neutral--950); }
[bg="n-on-light"] { background-color: var(--_palettes---neutral--on-light); }  [color="n-on-light"] { color: var(--_palettes---neutral--on-light); }
[bg="n-on-base"] { background-color: var(--_palettes---neutral--on-base); }  [color="n-on-base"] { color: var(--_palettes---neutral--on-base); }
[bg="n-on-deep"] { background-color: var(--_palettes---neutral--on-deep); }  [color="n-on-deep"] { color: var(--_palettes---neutral--on-deep); }
[bg="n-subtle"] { background-color: var(--_palettes---neutral--subtle); }
[bg="white"] { background-color: var(--_palettes---neutral--white); }  [color="white"] { color: var(--_palettes---neutral--white); }
[bg="black"] { background-color: var(--_palettes---neutral--black); }  [color="black"] { color: var(--_palettes---neutral--black); }
/* neutral: light, deep */
[bg="n-light"] { background-color: var(--_palettes---neutral--300); }
[bg="n-deep"] { background-color: var(--_palettes---neutral--700); }
