/* S2 Framework: Base CSS */

/* Base Setup + S2 Attributes + S2 Colors & Palettes + CSS Animations */


/* ---------------- */
/* -- Base Setup -- */
/* ---------------- */

/* basics */
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; }
h1, h2, h3 { text-wrap: balance; }
img, svg, video, audio, canvas, iframe, embed, object { display: block; vertical-align: middle; }
img, video { height: auto; }
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
nav a:not(p a), footer nav li a, .footer nav li a { text-decoration: none; }
[code], .code, .css, .js { display: none !important; }
.spacer * { padding: 0; }

/* remove tab highlight on touch devices */
* { -webkit-tap-highlight-color: transparent; }

/* w-richtext */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child { margin-top: 0 !important; }
.w-richtext > :last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child { margin-bottom: 0 !important; }
.w-richtext figure div { display: block !important; }
.w-richtext figure.w-richtext-align-floatleft, .w-richtext figure.w-richtext-align-floatright { margin-block: 0.35em 0.05em; }

/* lightbox and slider */
.w-lightbox-backdrop { font-weight: normal; }
.w-lightbox-strip { padding: 0.5rem; } .w-lightbox-item { padding: 0.25rem; margin: 0.25rem; outline-offset: 0; }
.w-lightbox-control { outline: none !important; }
.w-slider-dot { flex: 0 0 auto; }

/* for accessibility: custom focus styles */
html:not(.wf-design-mode) :focus-visible:not(input):not(textarea):not(select):not(section):not(.section):not(.container) {
	outline: var(--_sizes---thickness--outline) solid var(--colors--focus);
	outline-offset: 0.188rem;
}
section:focus, .section:focus, .container:focus { outline: none; }
[tabindex]:not([tabindex="-1"]):focus-visible, [aria-label]:not(input):not(textarea):not(select):focus-visible,
input[type="submit"]:focus-visible, input[type="file"]:focus-visible { outline: var(--_sizes---thickness--outline-bold) solid var(--colors--focus); outline-offset: 3px; }
[focus-outline="bold"]:focus-visible { outline-width: var(--_sizes---thickness--outline-bold) !important; }
[focus-outline="offset-0"]:focus-visible { outline-offset: 0 !important; }
[focus-outline="offset-far"]:focus-visible { outline-offset: 0.375rem !important; }
[focus-outline="none"]:focus, [focus-outline="none"]:focus-visible { outline: none !important; }
[input-highlight="none"] { -webkit-appearance: none; appearance: none; outline: none; } [input-highlight="none"]:focus { border: 0 rgba(0, 0, 0, 0) !important; }

/* S2 features */

/* html-table */
/* base styles for html-table */
.html-table {
	width: 100%;
	position: relative;
	margin: 0 0 var(--_sizes---spacing--richtext) 0;
}
.html-table table {
	width: 100%; height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: inherit;
}
.html-table th, .html-table td {
	border: 1px solid var(--colors--stroke);
	padding: 0.65rem 0.45rem;
	font-size: 1rem;
	line-height: 1.25;
}
.html-table th {
	background-color: var(--colors--surface-muted);
 	color: inherit;
	text-align: inherit;
}
.html-table thead th {}
.html-table tfoot td {}
.html-table caption {
	caption-side: top;
	font-weight: normal;
	text-align: inherit;
	margin: 0 0 0.5rem 0;
}
/* scrollable html-table */
.html-table[scrollable] { overflow: auto; }
.html-table[scrollable] table { display: block !important; }
.html-table[scrollable] table, .html-table[scrollable="5"] table { max-height: calc(((1rem * 1.25) + (0.65rem * 2)) * 5 + 6px); }
.html-table[scrollable="6"] table { max-height: calc(((1rem * 1.25) + (0.65rem * 2)) * 6 + 7px); }
.html-table[scrollable="7"] table { max-height: calc(((1rem * 1.25) + (0.65rem * 2)) * 7 + 8px); }
.html-table[scrollable="8"] table { max-height: calc(((1rem * 1.25) + (0.65rem * 2)) * 8 + 9px); }
.html-table[scrollable] table th, .html-table[scrollable] table td { white-space: nowrap !important; }
.html-table[scrollable]::-webkit-scrollbar { display: none !important; }
.html-table[scrollable] { -ms-overflow-style: none; scrollbar-width: none; overscroll-behavior: none; }
.html-table[scrollable]::-webkit-scrollbar-thumb { background-color: transparent; }
.html-table[scrollable="x"] { overflow-x: auto; overflow-y: hidden; }
.html-table[scrollable="x"] table { max-height: none; }
.html-table[scrollable="y"] { overflow-x: hidden; overflow-y: auto; max-height: calc(((1rem * 1.25) + (0.65rem * 2)) * 5 + 6px); }
.html-table[scrollable="y"] table { display: table !important; }
/* th-sticky */
.html-table[scrollable][th-sticky] thead th:first-child { position: sticky; top:-1px; left: -1px; z-index: 999; }
.html-table[scrollable][th-sticky] thead th { position: sticky; top: -1px; z-index: 998; }
.html-table[scrollable][th-sticky] tbody th { position: sticky; left: -1px; z-index: 997; }

/* mode switching */
/* default styles of mode switching ui */
body.u-light-mode .toggle {}
body.u-dark-mode .toggle { justify-content: flex-end; }
body.u-light-mode .mode-switch > [data-button="color-mode-light"] { background-color: #ffffff80; }
body.u-dark-mode .mode-switch > [data-button="color-mode-dark"] { background-color: #00000060; }
body.u-dark-mode .mode-switch > .mode-switch_button:not([data-button="color-mode-dark"]):hover {
	background-color: #bbb;
	color: #ddd;
}


/* ------------------- */
/* -- S2 Attributes -- */
/* ------------------- */

/* basics */
[hidden], [hide], .u-hide { display: none; }
[disabled] { filter: saturate(0%); cursor: default; pointer-events: none; }
[user-select="none"] { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
[events="none"] { pointer-events: none; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
[opacity="1"] { opacity: 1; }  [opacity="0.9"] { opacity: 0.9; }  [opacity="0.8"] { opacity: 0.8; }  [opacity="0.7"] { opacity: 0.7; }  [opacity="0.6"] { opacity: 0.6; }
[opacity="0.5"] { opacity: 0.5; }  [opacity="0.4"] { opacity: 0.4; }  [opacity="0.3"] { opacity: 0.3; }  [opacity="0.2"] { opacity: 0.2; }  [opacity="0.1"] { opacity: 0.1; }
[opacity="0"] { opacity: 0; }
[radius="0"] { border-radius: 0; }  [radius="1"] { border-radius: 1rem; }  [radius="2"] { border-radius: 2rem; }  [radius="3"] { border-radius: 3rem; }
[radius="xs"] { border-radius: var(--_sizes---radius--extra-small); }  [radius="sm"] { border-radius: var(--_sizes---radius--small); }  [radius="base"] { border-radius: var(--_sizes---radius--base); }  [radius="lg"] { border-radius: var(--_sizes---radius--large); }  [radius="xl"] { border-radius: var(--_sizes---radius--extra-large); }
[radius="rounded"] { border-radius: var(--_sizes---radius--rounded); }
[radius="card"] { border-radius: var(--_sizes---radius--card); }
[radius="button"] { border-radius: var(--_sizes---button--radius); }
[object-fit="cover"] { object-fit: cover; }

/* typography */
[line-height="0"] { line-height: 0; }  [line-height="0.25"] { line-height: 0.25; }  [line-height="0.5"] { line-height: 0.5; }  [line-height="0.75"] { line-height: 0.75; }
[line-height="1"] { line-height: 1; }  [line-height="1.25"] { line-height: 1.25; }  [line-height="1.5"] { line-height: 1.5; }  [line-height="1.75"] { line-height: 1.75; }
[line-height="2"] { line-height: 2; }
[text-deco="underline"] { text-decoration: underline; }
[text-deco="none"], [text-deco="none"] a, a[text-deco="none"] { text-decoration: none; }
[text-align="center"] { text-align: center; }
[text-align="left"] { text-align: left; }  [text-align="right"] { text-align: right; }
[text-uppercase] { text-transform: uppercase; }
[text-capitalize] { text-transform: capitalize; }
[white-space="nowrap"] { white-space: nowrap; }
[truncate] { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
[line-clamp] { display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }
[line-clamp], [line-clamp="1"] { -webkit-line-clamp: 1; }
[line-clamp="2"] { -webkit-line-clamp: 2; }  [line-clamp="3"] { -webkit-line-clamp: 3; }
[line-clamp="4"] { -webkit-line-clamp: 4; }  [line-clamp="5"] { -webkit-line-clamp: 5; }
[line-clamp="6"] { -webkit-line-clamp: 6; }
[box-deco="clone"] { box-decoration-break: clone; }
[box-deco="slice"] { box-decoration-break: slice; }
[float="start"] { float: inline-start; }  [float="end"] { float: inline-end; }
[float="left"] { float: left; margin-right: 0.5ch; }  [float="right"] { float: right; margin-left: 0.5ch; }
[float="none"] { float: none; }

/* sizes, position, spacing related */
[width-is="auto"] { width: auto; min-width: auto; max-width: none; }
[width-is="100p"] { width: 100%; min-width: 100%; max-width: 100%; }
[width-is="100vw"] { width: 100vw; min-width: 100vw; max-width: 100vw; }
[width-is^="min"] { width: auto; max-width: none; }
[width-is="min-1"] { min-width: 1rem; }  [width-is="min-2"] { min-width: 2rem; }  [width-is="min-3"] { min-width: 3rem; }
[width-is="min-4"] { min-width: 4rem; }  [width-is="min-5"] { min-width: 5rem; }  [width-is="min-6"] { min-width: 6rem; }
[height-is="auto"] { height: auto; min-height: auto; max-height: none; }
[height-is="100p"] { height: 100%; min-height: 100%; max-height: 100%; }
[height-is="100vh"] { height: 100vh; min-height: 100vh; max-height: 100vh; }
[height-is="100svh"] { height: 100svh; min-height: 100svh; max-height: 100svh; }
[height-is="100dvh"] { height: 100vh; min-height: 100vh; max-height: 100vh; } @supports (height: 100dvh) { [height-is="100dvh"] { height: 100dvh; min-height: 100dvh; max-height: 100dvh; } }
[height-is="min-100p"] { height: auto; min-height: 100%; max-height: none; }
[height-is="min-100vh"] { height: auto; min-height: 100vh; max-height: none; }
[height-is="min-100svh"] { height: auto; min-height: 100vh; max-height: none; } @supports (height: 100svh) { [height-is="min-100svh"] { min-height: 100svh; } }
[height-is^="min"] { height: auto; max-height: none; }
[height-is="min-1"] { min-height: 1rem; }  [height-is="min-2"] { min-height: 2rem; }  [height-is="min-3"] { min-height: 3rem; }
[height-is="min-4"] { min-height: 4rem; }  [height-is="min-5"] { min-height: 5rem; }  [height-is="min-6"] { min-height: 6rem; }
[position="static"] { position: static; }
[position="relative"] { position: relative; }
[position="absolute"] { position: absolute; }
[z-index="0"] { z-index: 0; }  [z-index="1"] { z-index: 1; }  [z-index="-1"] { z-index: -1; }
[z-index="top"] { z-index: 999999 !important; }  [z-index="bottom"] { z-index: -999999 !important; }  [z-index="auto"] { z-index: auto; }  
[p-0] { padding: 0; }  [p-1] { padding: 1rem; }  [p-2] { padding: 2rem; }  [p-3] { padding: 3rem; }
[m-0] { margin: 0; }  [m-1] { margin: 1rem; }  [m-2] { margin: 2rem; }  [m-3] { margin: 3rem; }
[pt="0"] { padding-top: 0; }  [pt="0.5"] { padding-top: 0.5rem; }  [pt="1"] { padding-top: 1rem; }  [pt="2"] { padding-top: 2rem; }  [pt="3"] { padding-top: 3rem; }
[pt="base"] { padding-top: var(--_sizes---spacing--base); }  [pt="sm"] { padding-top: var(--_sizes---spacing--small); }  [pt="lg"] { padding-top: var(--_sizes---spacing--large); }
[pb="0"] { padding-bottom: 0; }  [pb="0.5"] { padding-bottom: 0.5rem; }  [pb="1"] { padding-bottom: 1rem; }  [pb="2"] { padding-bottom: 2rem; }  [pb="3"] { padding-bottom: 3rem; }
[pb="base"] { padding-bottom: var(--_sizes---spacing--base); }  [pb="sm"] { padding-bottom: var(--_sizes---spacing--small); }  [pb="lg"] { padding-bottom: var(--_sizes---spacing--large); }
[mt="0"] { margin-top: 0; }  [mt="0.5"] { margin-top: 0.5rem; }  [mt="1"] { margin-top: 1rem; }  [mt="2"] { margin-top: 2rem; }  [mt="3"] { margin-top: 3rem; }
[mt="base"] { margin-top: var(--_sizes---spacing--base); }  [mt="sm"] { margin-top: var(--_sizes---spacing--small); }  [mt="lg"] { margin-top: var(--_sizes---spacing--large); }  [mt="auto"] { margin-top: auto; }
[mb="0"] { margin-bottom: 0; }  [mb="0.5"] { margin-bottom: 0.5rem; }  [mb="1"] { margin-bottom: 1rem; }  [mb="2"] { margin-bottom: 2rem; }  [mb="3"] { margin-bottom: 3rem; }
[mb="base"] { margin-bottom: var(--_sizes---spacing--base); }  [mb="sm"] { margin-bottom: var(--_sizes---spacing--small); }  [mb="lg"] { margin-bottom: var(--_sizes---spacing--large); }  [mb="auto"] { margin-bottom: auto; }
[top-bottom] { padding-top: 0; padding-bottom: 0; }
[top-bottom="0"] { margin-top: 0; margin-bottom: 0; }  [top-bottom="0.5"] { margin-top: 0.5rem; margin-bottom: 0.5rem; }  [top-bottom="1.5"] { margin-top: 1.5rem; margin-bottom: 1.5rem; }
[top-bottom="1"] { margin-top: 1rem; margin-bottom: 1rem; }  [top-bottom="2"] { margin-top: 2rem; margin-bottom: 2rem; }  [top-bottom="3"] { margin-top: 3rem; margin-bottom: 3rem; }
[top-bottom="base"] { margin-top: var(--_sizes---spacing--base); margin-bottom: var(--_sizes---spacing--base); }
[top-bottom="sm"] { margin-top: var(--_sizes---spacing--small); margin-bottom: var(--_sizes---spacing--small); }
[top-bottom="lg"] { margin-top: var(--_sizes---spacing--large); margin-bottom: var(--_sizes---spacing--large); }
[top-bottom="auto"] { margin-top: auto; margin-bottom: auto; }
[px="0"] { padding-left: 0; padding-right: 0; }
[py="0"] { padding-top: 0; padding-bottom: 0; }
[mx="0"] { margin-left: 0; margin-right: 0; }  [mx="auto"] { margin-left: auto; margin-right: auto; }
[my="0"] { margin-top: 0; margin-bottom: 0; }  [my="auto"] { margin-top: auto; margin-bottom: auto; }
[mr="0"] { margin-right: 0; }
[mr="1"] { margin-right: 1rem; }  [mr="1ch"] { margin-right: 1ch; }  [mr="word"] { margin-right: 0.35em; }
[ml="0"] { margin-left: 0; }
[ml="1"] { margin-left: 1rem; }  [mr="1ch"] { margin-right: 1ch; }  [ml="word"] { margin-left: 0.35em; }
[ms="0"] { margin-inline-start: 0; }  [ms="0.5"] { margin-inline-start: 0.5rem; }  [ms="1"] { margin-inline-start: 1rem; }  [ms="1ch"] { margin-inline-start: 1ch; }  [ms="auto"] { margin-inline-start: auto; }
[me="0"] { margin-inline-end: 0; }  [me="0.5"] { margin-inline-end: 0.5rem; }  [me="1"] { margin-inline-end: 1rem; }  [me="1ch"] { margin-inline-end: 1ch; }  [me="auto"] { margin-inline-end: auto; }
[flip="h"] { transform: scaleX(-1); }
[flip="v"] { transform: scaleY(-1); }

/* flex, grid, wrap, gap, place- related */
[block] { display: block; }  [inline] { display: inline; }  [inline-block] { display: inline-block; }  [grid] { display: grid; }
[flex], [flex="row"] { display: flex; flex-direction: row; }
[flex="col"] { display: flex; flex-direction: column; }
[inner-flex], [inner-flex="row"] { display: inline-flex; flex-direction: row; }
[inner-flex="col"] { display: inline-flex; flex-direction: column; }
[flex-wrap], [flex-wrap="wrap"] { flex-wrap: wrap; }
[flex-wrap="wrap-nice"] { flex-wrap: wrap; white-space: normal; word-break: keep-all; overflow-wrap: anywhere; text-wrap: balance; }
[flex-wrap="nowrap"] { flex-wrap: nowrap; }
[flex-shrink] { flex-grow: 0; flex-shrink: 1; flex-basis: auto; }
[flex-noshrink] { flex-grow: 0; flex-shrink: 0; flex-basis: auto; }
[flex-grow] { flex-grow: 1; flex-shrink: 1; flex-basis: 0%; }
[gap="gg"] { gap: var(--_sizes---grid--gutter); }
[gap="0"] { grid-column-gap: 0; grid-row-gap: 0; }
[gap="1-1"] { gap: 1rem 1rem; }  [gap="1-2"] { gap: 1rem 2rem; }  [gap="1-3"] { gap: 1rem 3rem; }
[gap="2-1"] { gap: 2rem 1rem; }  [gap="2-2"] { gap: 2rem 2rem; }  [gap="2-3"] { gap: 2rem 3rem; }
[gap="3-1"] { gap: 3rem 1rem; }  [gap="3-2"] { gap: 3rem 2rem; }  [gap="3-3"] { gap: 3rem 3rem; }
[gap="base"] { gap: var(--_sizes---gap--base); }
[gap="sm"] { gap: var(--_sizes---gap--small); }
[gap="lg"] { gap: var(--_sizes---gap--large); }
[gap="1ch"] { gap: 1ch; }
[gap="word"] { gap: 0.35em; word-spacing: 0em; letter-spacing: normal; }
[order="first"] { order: -999; }
[order="last"] { order: 999; }
/* place-content */
[place-content="center"] { place-content: center; }
[place-content="start"] { place-content: start; }  [place-content="end"] { place-content: end; }
[place-content="between"] { place-content: space-between; }
[place-content="around"] { place-content: space-around; }
[place-content="evenly"] { place-content: space-evenly; }
[place-content="baseline"] { place-content: baseline; }
[place-content="stretch"] { place-content: stretch; }
/* place-items */
[place-items="start"] { place-items: start; }  [place-items="end"] { place-items: end; }
[place-items="center"] { place-items: center; }
[place-items="baseline"] { place-items: baseline; }
[place-items="stretch"] { place-items: stretch; }
/* place-self */
[place-self="auto"] { place-self: auto; }
[place-self="start"] { place-self: start; }  [place-self="end"] { place-self: end; }
[place-self="center"] { place-self: center; }
[place-self="stretch"] { place-self: stretch; }

/* overflow properties */
[overflow="visible"] { overflow: visible !important; }
[overflow="hidden"] { overflow: hidden !important; }
[overflow="clip"] { overflow: clip !important; }
[overflow="scroll"] { overflow: scroll; }  [overflow="auto"] { overflow: auto; }
[overflow-x="scroll"] { overflow-x: scroll; }  [overflow-x="auto"] { overflow-x: auto; }
[overflow-y="scroll"] { overflow-y: scroll; }  [overflow-y="auto"] { overflow-y: auto; }

/* color, bg, border, outline */
[color="inherit"] { color: inherit; }
[color="transparent"] { color: transparent; }
[bg="inherit"] { background-color: inherit; }
[bg="transparent"] { background-color: transparent; }
[bg="none"] { background: none; }
[border="inherit"] { border-color: inherit; }
[border="transparent"] { border-color: transparent; }
[border="none"] { border: none; }
[outline="none"] { outline: none; }

/* gradient */
[gradient] { background-image: linear-gradient(135deg, var(--colors--primary) 0%, var(--colors--secondary) 100%); }

/* shadow */
[shadow="none"] { box-shadow: none; }
[shadow] { box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); }

/* text-shadow */
[text-shadow="none"] { text-shadow: none; }
[text-shadow] { text-shadow: 0 0 1rem var(--_palettes---neutral--black); }

/* lists */
[list-type] li { list-style-position: outside; }
[list-type] li::before { content: none !important; /* reset */ }
[list-type] { list-style: none !important; /* reset */ }
[list-icon] li { position: relative; margin-left: 1.8em; }
[list-icon] li::before { position: absolute; top: -0.095em; left: -1.325em; font-size: 1.125em; content: '\25CF\0020'; color: var(--colors--primary); }

/* no-scrollbar */
[no-scrollbar]::-webkit-scrollbar { display: none !important; width: 0px; height: 0px; }
[no-scrollbar] { -ms-overflow-style: none; scrollbar-width: none; }
[no-scrollbar]::-webkit-scrollbar-thumb { background-color: transparent; }

/* no-overscroll */
[no-overscroll] { overscroll-behavior: none; -webkit-overflow-scrolling: touch; touch-action: none; -ms-overflow-style: none; scrollbar-width: none; }
[no-overscroll]::-webkit-scrollbar { width: 0px; height: 0px; }

/* visually-hidden */
/* for accessibility: hidden for visual users, readable for screen readers */
[visually-hidden="true"], .visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(0px 0px 99.9% 99.9%);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden; height: 1px; width: 1px; padding: 0; border: 0;
}


/* -------------------------- */
/* -- S2 Colors & Palettes -- */
/* -------------------------- */

/* -- "Colors" Variables as Attributes -- */

/* color */
[color="text"] { color: var(--colors--text); }
[color="text-mu"] { color: var(--colors--text-muted); }
[color="p"] { color: var(--colors--primary); }
[color="s"] { color: var(--colors--secondary); }
[color="a"] { color: var(--colors--accent); }
[color="n"] { color: var(--_palettes---neutral--500); }
/* background-color */
[bg="surface"] { background-color: var(--colors--surface); }
[bg="surface-mu"] { background-color: var(--colors--surface-muted); }
[bg="surface-alt"] { background-color: var(--colors--surface-alt); }
[bg="surface-alt-mu"] { background-color: var(--colors--surface-alt-muted); }
[bg="p"] { background-color: var(--colors--primary); }
[bg="s"] { background-color: var(--colors--secondary); }
[bg="a"] { background-color: var(--colors--accent); }
[bg="n"] { background-color: var(--_palettes---neutral--500); }
/* border-color */
[border="stroke"] { border-color: var(--colors--stroke); }
[border="p"] { border-color: var(--colors--primary); }
[border="s"] { border-color: var(--colors--secondary); }
[border="a"] { border-color: var(--colors--accent); }
[border="n"] { border-color: var(--_palettes---neutral--500); }

/* -- 12-step "Palette" Variables as Attributes -- */

/* primary */
[color="p-50"] { color: var(--_palettes---primary--50); }
[color="p-100"] { color: var(--_palettes---primary--100); }
[color="p-200"] { color: var(--_palettes---primary--200); }
[color="p-300"] { color: var(--_palettes---primary--300); }
[color="p-400"] { color: var(--_palettes---primary--400); }
[color="p-500"] { color: var(--_palettes---primary--500); }
[color="p-600"] { color: var(--_palettes---primary--600); }
[color="p-700"] { color: var(--_palettes---primary--700); }
[color="p-800"] { color: var(--_palettes---primary--800); }
[color="p-900"] { color: var(--_palettes---primary--900); }
[color="p-950"] { color: var(--_palettes---primary--950); }
[bg="p-50"] { background-color: var(--_palettes---primary--50); }
[bg="p-100"] { background-color: var(--_palettes---primary--100); }
[bg="p-200"] { background-color: var(--_palettes---primary--200); }
[bg="p-300"] { background-color: var(--_palettes---primary--300); }
[bg="p-400"] { background-color: var(--_palettes---primary--400); }
[bg="p-500"] { background-color: var(--_palettes---primary--500); }
[bg="p-600"] { background-color: var(--_palettes---primary--600); }
[bg="p-700"] { background-color: var(--_palettes---primary--700); }
[bg="p-800"] { background-color: var(--_palettes---primary--800); }
[bg="p-900"] { background-color: var(--_palettes---primary--900); }
[bg="p-950"] { background-color: var(--_palettes---primary--950); }

/* secondary */
[color="s-50"] { color: var(--_palettes---secondary--50); }
[color="s-100"] { color: var(--_palettes---secondary--100); }
[color="s-200"] { color: var(--_palettes---secondary--200); }
[color="s-300"] { color: var(--_palettes---secondary--300); }
[color="s-400"] { color: var(--_palettes---secondary--400); }
[color="s-500"] { color: var(--_palettes---secondary--500); }
[color="s-600"] { color: var(--_palettes---secondary--600); }
[color="s-700"] { color: var(--_palettes---secondary--700); }
[color="s-800"] { color: var(--_palettes---secondary--800); }
[color="s-900"] { color: var(--_palettes---secondary--900); }
[color="s-950"] { color: var(--_palettes---secondary--950); }
[bg="s-50"] { background-color: var(--_palettes---secondary--50); }
[bg="s-100"] { background-color: var(--_palettes---secondary--100); }
[bg="s-200"] { background-color: var(--_palettes---secondary--200); }
[bg="s-300"] { background-color: var(--_palettes---secondary--300); }
[bg="s-400"] { background-color: var(--_palettes---secondary--400); }
[bg="s-500"] { background-color: var(--_palettes---secondary--500); }
[bg="s-600"] { background-color: var(--_palettes---secondary--600); }
[bg="s-700"] { background-color: var(--_palettes---secondary--700); }
[bg="s-800"] { background-color: var(--_palettes---secondary--800); }
[bg="s-900"] { background-color: var(--_palettes---secondary--900); }
[bg="s-950"] { background-color: var(--_palettes---secondary--950); }

/* accent */
[color="a-50"] { color: var(--_palettes---accent--50); }
[color="a-100"] { color: var(--_palettes---accent--100); }
[color="a-200"] { color: var(--_palettes---accent--200); }
[color="a-300"] { color: var(--_palettes---accent--300); }
[color="a-400"] { color: var(--_palettes---accent--400); }
[color="a-500"] { color: var(--_palettes---accent--500); }
[color="a-600"] { color: var(--_palettes---accent--600); }
[color="a-700"] { color: var(--_palettes---accent--700); }
[color="a-800"] { color: var(--_palettes---accent--800); }
[color="a-900"] { color: var(--_palettes---accent--900); }
[color="a-950"] { color: var(--_palettes---accent--950); }
[bg="a-50"] { background-color: var(--_palettes---accent--50); }
[bg="a-100"] { background-color: var(--_palettes---accent--100); }
[bg="a-200"] { background-color: var(--_palettes---accent--200); }
[bg="a-300"] { background-color: var(--_palettes---accent--300); }
[bg="a-400"] { background-color: var(--_palettes---accent--400); }
[bg="a-500"] { background-color: var(--_palettes---accent--500); }
[bg="a-600"] { background-color: var(--_palettes---accent--600); }
[bg="a-700"] { background-color: var(--_palettes---accent--700); }
[bg="a-800"] { background-color: var(--_palettes---accent--800); }
[bg="a-900"] { background-color: var(--_palettes---accent--900); }
[bg="a-950"] { background-color: var(--_palettes---accent--950); }

/* neutral */
[color="n-50"] { color: var(--_palettes---neutral--50); }
[color="n-100"] { color: var(--_palettes---neutral--100); }
[color="n-200"] { color: var(--_palettes---neutral--200); }
[color="n-300"] { color: var(--_palettes---neutral--300); }
[color="n-400"] { color: var(--_palettes---neutral--400); }
[color="n-500"] { color: var(--_palettes---neutral--500); }
[color="n-600"] { color: var(--_palettes---neutral--600); }
[color="n-700"] { color: var(--_palettes---neutral--700); }
[color="n-800"] { color: var(--_palettes---neutral--800); }
[color="n-900"] { color: var(--_palettes---neutral--900); }
[color="n-950"] { color: var(--_palettes---neutral--950); }
[color="white"] { color: var(--_palettes---neutral--white); }
[color="black"] { color: var(--_palettes---neutral--black); }
[bg="n-50"] { background-color: var(--_palettes---neutral--50); }
[bg="n-100"] { background-color: var(--_palettes---neutral--100); }
[bg="n-200"] { background-color: var(--_palettes---neutral--200); }
[bg="n-300"] { background-color: var(--_palettes---neutral--300); }
[bg="n-400"] { background-color: var(--_palettes---neutral--400); }
[bg="n-500"] { background-color: var(--_palettes---neutral--500); }
[bg="n-600"] { background-color: var(--_palettes---neutral--600); }
[bg="n-700"] { background-color: var(--_palettes---neutral--700); }
[bg="n-800"] { background-color: var(--_palettes---neutral--800); }
[bg="n-900"] { background-color: var(--_palettes---neutral--900); }
[bg="n-950"] { background-color: var(--_palettes---neutral--950); }
[bg="white"] { background-color: var(--_palettes---neutral--white); }
[bg="black"] { background-color: var(--_palettes---neutral--black); }


/* -------------------- */
/* -- CSS Animations -- */
/* -------------------- */

/* fadeIn */
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
[animation="fadeIn"] { opacity: 0; animation: fadeIn 1.2s ease forwards; }

/* slideIn */
@keyframes slideIn { from { opacity: 0; transform: translateY(80px); } to { opacity: 1; transform: translateY(0); } }
[animation="slideIn"] { opacity: 0; animation: slideIn 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; }

/* marquee */
@keyframes marquee { from { transform: translateX(0%); } to { transform: translateX(-100%); } }
[animation="marquee"] { animation: marquee 20s linear infinite; }
@keyframes marquee200p { from { transform: translateX(0%); } to { transform: translateX(-200%); } }
[animation="marquee200p"] { animation: marquee200p 20s linear infinite; }

/* spin */
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
[animation="spin"] { animation: spin 1s linear infinite; }

/* ping */
@keyframes ping { 75%, 100% { transform: scale(2); opacity: 0; } }
[animation="ping"] { animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite; }

/* bounce */
@keyframes bounce { 0%, 100% { transform: translateY(-25%); animation-timing-function: cubic-bezier(0.8, 0, 1, 1); } 50% { transform: translateY(0); animation-timing-function: cubic-bezier(0, 0, 0.2, 1); } }
[animation="bounce"] { animation: bounce 1s infinite; }

/* pulse */
@keyframes pulse { 0%, 100% { opacity: 1; } 50% { opacity: .5; } }
[animation="pulse"] { animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; }

/* pulse-bg */
@keyframes pulse-bg { 0%, 100% { background-color: var(--bg-s, #aaa); } 50% { background-color: var(--bg-e, #ddd); } }
[animation^="pulse-bg"] { animation: pulse-bg 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; }
[animation="pulse-bg"] { --bg-s: var(--colors--primary); --bg-e: var(--colors--primary-light); }

/* controls */
[animation-play="pause"] { animation-play-state: paused !important; }
[animation-play="run"] { animation-play-state: running !important; }
[animation="none"] { animation: none; }
