/* --------------------- */
/* -- (3) S2 Defaults -- */
/* --------------------- */

/* light and dark elements */
.u-bg-dark, [bg="dark"] { background-color: var(--colors-dark--surface); color: var(--colors-dark--text); }
.u-bg-light, [bg="light"] { background-color: var(--colors-light--surface); color: var(--colors-light--text); }

/* main-nav_button */
.main-nav_button path {
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease;
	transform-origin: 50% 50%;
}
.main-nav_button path { transform: translateY(-8%) rotate(-45deg); }
.main-nav_button path:last-child { transform: translateY(11%) rotate(45deg); }
.main-nav_button.w--open path { transform: translateY(0%) rotate(0deg); }

/* better sup and sub on headings */
h1 sup, h2 sup, h3 sup, h4 sup {
	left: -0.625em;
	top: -0.65em;
	margin-right: -0.925em;
}
h1 sub, h2 sub, h3 sub, h4 sub {
	left: -0.625em;
	top: -0.85em;
	margin-right: -0.925em;
}
h5 sup, h6 sup {
	left: -0.4em;
	top: -0.3em;
	margin-right: -0.8em;
}
h5 sub, h6 sub {
	left: -0.4em;
	top: -0.5em;
	margin-right: -0.8em;
}

/* code block */
pre.code-block { margin: 1rem 0 1rem 0; }
pre.code-block code {
	margin: 0.25rem 0 0.25rem 0;
	padding-top: 0.75rem; padding-bottom: 0.75rem;
}
.w-richtext pre.w-code-block {
	margin: 1rem 0 1rem 0;
	font-size: .825rem;  /* same as .code-block */
	line-height: 1.725;
}
.w-richtext pre.w-code-block code {
	margin: 0.35rem 0 0.35rem 0;
	padding-top: 0.75rem; padding-bottom: 0.75rem;
}
@media screen and (max-width: 479px) { .w-richtext pre.w-code-block { font-size: .85rem; } }

/* styles for html-table */
/* html-table */
.html-table {
	width: 100%;
	position: relative;
	margin: 0 0 var(--spacing--richtext) 0;
}
.html-table table {
	width: 100%; height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: inherit;
}
.html-table th, .html-table td {
	border: 1px solid var(--colors--stroke);
	padding: 0.65rem 0.45rem;
	font-size: 1rem;
	line-height: 1.25;
}
.html-table th {
	background-color: var(--colors--surface-muted);
  color: inherit;
	text-align: inherit;
}
.html-table thead th {}
.html-table tfoot td {}
.html-table caption {
	caption-side: top;
	font-weight: normal;
	text-align: inherit;
	margin: 0 0 0.5rem 0;
}
/* scrollable html-table */
.html-table[scrollable] { overflow: auto !important; }
.html-table[scrollable] table { display: block !important; }
.html-table[scrollable] table, .html-table[scrollable="5"] table { max-height: calc(((1rem * 1.25) + (0.65rem * 2)) * 5 + 6px); }
.html-table[scrollable="6"] table { max-height: calc(((1rem * 1.25) + (0.65rem * 2)) * 6 + 7px); }
.html-table[scrollable="7"] table { max-height: calc(((1rem * 1.25) + (0.65rem * 2)) * 7 + 8px); }
.html-table[scrollable="8"] table { max-height: calc(((1rem * 1.25) + (0.65rem * 2)) * 8 + 9px); }
.html-table[scrollable] table th, .html-table[scrollable] table td { white-space: nowrap !important; }
.html-table[scrollable]::-webkit-scrollbar { display: none !important; }
.html-table[scrollable] { -ms-overflow-style: none; scrollbar-width: none; overscroll-behavior: none; }
.html-table[scrollable]::-webkit-scrollbar-thumb { background-color: transparent; }
/* th-sticky */
.html-table[scrollable][th-sticky] thead th:first-child {
	position: sticky;
	left: -1px;
	z-index: 999;
}
.html-table[scrollable][th-sticky] thead th {
	position: sticky;
	top: -1px;
	z-index: 998;
}
.html-table[scrollable][th-sticky] tbody th {
	position: sticky;
	left: -1px;
	z-index: 997;
}